@use '../../_css/queries.scss' as *;

$spacer-h: calc(var(--block-padding) / 2);

.ctaSectionWrapper {
  background-color: var(--theme-brand-dark-blue);
  padding: 60px 0;
  color: white;
}

.callToAction {
  position: relative;
  max-width: 670px;
  width: 100%;
  text-align: center;

  @include mid-break {
  }
}

.ctaGutter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global([data-theme='dark']) {
  .ctaSectionWrapper {
    background-color: var(--theme-elevation-0);
    color: var(--theme-elevation-1000);
  }
}

.invert {
  background-color: var(--theme-text);
}

:global([data-theme='dark']) {
  .invert {
    background-color: var(--theme-elevation-900);
    color: var(--theme-elevation-0);
  }
}

.richText {
  color: white;
}

.linkGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $spacer-h;
  flex-shrink: 0;
  margin-top: 32px;

  >* {
    margin-bottom: 0;
  }
}
