@import '../../_css/queries.scss';

.heroSection {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  @media (max-width: 768px) {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  @include mid-break {
    padding-top: var(--gutter-h);
  }
}

.media {
  width: calc(100% + var(--gutter-h));
  left: calc(var(--gutter-h) / -2);
  margin-top: calc(var(--base) * 3);
  position: relative;

  @include mid-break {
    left: 0;
    margin-top: var(--base);
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  // margin: calc(var(--base) * -.5);

  // &>* {
  //   margin: calc(var(--base) / 2);
  // }
}

.caption {
  margin-top: var(--base);
  color: var(--theme-elevation-500);
  left: calc(var(--gutter-h) / 2);
  width: calc(100% - var(--gutter-h));
  position: relative;

  @include mid-break {
    left: var(--gutter-h);
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 82%;
  z-index: 1;
}