@import '../../_css/queries.scss';

.heroSection {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--theme-brand-outline);
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 499px;
  width: 100%;
}

.hero {
  padding: 60px 30px 0 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mid-break {
    padding-top: var(--gutter-h);
    flex-direction: column;
  }
}

.media {
  width: calc(100% + var(--gutter-h));
  left: calc(var(--gutter-h) / -2);
  margin-top: calc(var(--base) * 3);
  position: relative;

  @include mid-break {
    left: 0;
    margin-top: var(--base);
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @include small-break {
    display: flex;
    justify-content: center;
  }

  @include mid-break {
    display: flex;
    justify-content: center;
  }
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  max-height: 700px;
  height: 100%;

  image {
    object-fit: contain;
    object-position: center;
  }
}

.caption {
  margin-top: var(--base);
  color: var(--theme-elevation-500);
  left: calc(var(--gutter-h) / 2);
  width: calc(100% - var(--gutter-h));
  position: relative;

  @include mid-break {
    left: var(--gutter-h);
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
  gap: 32px;
  width: 100%;
  max-width: 60%;
  z-index: 1;

  @include small-break {
    width: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  @include mid-break {
    width: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

}

.heroSvg {
  position: absolute;
  z-index: -1;
}