@use '../../_css/queries.scss' as *;

.footer {
  padding: 100px 0;
  background-color: white;
  color: var(--theme-dark-text);

  @include small-break {
    padding: calc(var(--base) * 2) 0;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);

  @include small-break {
    flex-direction: column;
    justify-content: center;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;

  img {
    max-width: 100%;
    height: auto;
  }

  .certifications {
    display: flex;
    flex-wrap: wrap;
    columns: 2;
    gap: 24px;
    justify-content: start;

    img {
      width: 45%;
      height: auto;
      max-height: 100px;
    }
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;

  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base) / 4) var(--base);
    justify-content: center;

    @include small-break {
      flex-direction: column;
      justify-content: center;
    }
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .namGroupName {
    margin: 0;
    font-size: 20px;
    color: #000000;
    font-weight: 705;
    line-height: 120%;
    margin-bottom: 18px;
  }

  .navGroupNav {
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 12px;
    color: #000000;
    font-weight: 704;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms color ease-in-out;

    &:hover {
      color: var(--theme-brand-orange);
    }
  }

  .socials {
    display: flex;
    gap: 16px;
    margin-top: 42px;

    img {
      width: 34px;
      height: 34px;
      transition: 200ms transform ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateY(4px);
      }
    }
  }
}

@include small-break {

  .leftSection,
  .rightSection {
    align-items: center;
    text-align: center;
  }
}

@include mid-break {
  .column {
    flex-basis: 50%;
  }
}

@include small-break {
  .column {
    flex-basis: 100%;
  }
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--theme-dark-text);
}