
@use '../../_css/queries.scss' as *;

.footer {
  padding: calc(var(--base) * 4) 0;
  background-color: var(--theme-elevation-1000);
  color: var(--theme-elevation-0);

  @include small-break {
    padding: calc(var(--base) * 2) 0;
  }
}

:global([data-theme="dark"]) {
  .footer {
    background-color: var(--theme-elevation-50);
    color: var(--theme-elevation-1000);
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.shortText {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  flex: 2 1 100%;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

.namGroupName {
  margin-bottom: 10px;
}

.socials {
  flex: 1;
  display: flex;
  gap: 10px;
}

.socials img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: $breakpoint-m-width) {
  .column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: $breakpoint-s-width) {
  .column {
    flex-basis: 100%;
  }
}
