@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }

  a {
    padding: 16px 18px;
  }

}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.bookingBtn {

  @include mid-break {
    display: none;
  }
}